{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block main %}
    <div class="container">
            <h1 class="mb-3 font-weight-normal text-center">Modifier votre mot de passe</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Modifier mot de passe') }}</button>
            {{ form_end(form) }}
    </div>
{% endblock %}
