parameters:
    doctrine:
        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
    symfony:
        container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
        console_application_loader: build/phpstan/console-loader.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

