{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block main %}
    <div class="container">
        <h1>Editer un avis</h1>
        {{ include('comment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
