@import "~bootstrap/scss/bootstrap";

$primary-color: #f65454;
$primary-text: black;
$secondary-text: white;
$secondary-color: #242424;

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../../public/images/wild-865296_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dropdown-menu {
  padding: 2px 5px;
  background-color: #343A40;
  a {
    color: $secondary-text;
  }
}

footer {
  background-color: #343A40;
  color: rgba(255, 255, 255, .5);
  position: fixed;
  left:0;
  right: 0;
  bottom: 0;
  a {
    color: $secondary-text;
    text-decoration: underline;
  }
  a:hover {
    color: $secondary-text;
    text-decoration: none;
  }
}
