<div class="container text-center">
    <small class="text-center">Site créer à partir des quêtes de la <a href="https://www.wildcodeschool.com/fr-FR"
                                                                       target="_blank">Wild Code School</a> pour Symfony
        4
        <a href="https://github.com/Aurelie-feyzin/Series" target="_blank">code source</a></small>
</div>
