<div class="container text-center">
    <small class="text-center">

        {{'inspired.by' | trans}} <a href="https://www.wildcodeschool.com/fr-FR"
                                                                       target="_blank">Wild Code School</a>
        (<a href="https://github.com/Aurelie-feyzin/Series" target="_blank">{{ 'source.code' | trans }}</a>)</small>
</div>
